﻿@model _62A_PropertyWebsite.Models.PropertyModel

<h3>New Property:</h3>
<h4>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(modelItem => Model.Price)</h4>
<p>@Html.DisplayFor(modelItem => Model.Description)</p>
<img src="@Html.Encode(Model.ImageURL)" />