﻿@model IEnumerable<_62A_PropertyWebsite.Models.PropertyModel>

@{
    ViewBag.Title = "Hello title!";
}
<h2>Test</h2>

<p>This is my test page!</p>

@foreach (_62A_PropertyWebsite.Models.PropertyModel getProperty in Model)
{
    @Html.Partial("PropertyPartial", getProperty);

    @*
        @MyHelper.CreateImageFor(getProperty);
    *@
}

